{% load repositories staticfiles i18n markup %}

<script src="{% static 'js/vendor/holder.js' %}"></script>

<div class="well well-sm">
    <div class="row-fluid">
        <div class="col-sm-6">
            <table class="table-condensed commit-metadata">
                <tbody>
                    <tr>
                        <th rowspan="5">
                            {# src="{{ commit.author.email|avatar }}" #}
                            <img width="100px" height="100px" data-src="holder.js/100x100" alt="author gravatar">
                        </th>
                    </tr>
                    <tr>
                        <th>{% trans "author" %}: </th>
                        <td>                            
                            <a href="mailto:{{ commit.author.email }}">{{ commit.author.name }}</a>
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans "date" %}: </th>
                        <td>{{ commit.committed_date|seconds_to_date|date }} {% trans "at" %} {{ commit.committed_date|seconds_to_date|time }} <br> ({{ commit.committed_date|seconds_to_date|timesince }})</td>
                    </tr>
                    <tr>
                        <th>{% trans "commit" %}: </th>
                        <td>
                            <a href="{% url 'commit_details' repo_name=repo_name commit_hash=commit.hexsha %}">{{ commit.hexsha }}</a>
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans "parent(s)" %}: </th>
                        <td>
                            {% for parent in commit.parents %}
                                <a href="{% url 'commit_details' repo_name=repo_name commit_hash=parent.hexsha %}"> {{ parent.hexsha|hex_sha_short }}</a><span>&nbsp;</span>
                            {% endfor %}
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <p>{{ commit.message|markdown:"safe" }}</p>            
        </div>
    </div>
</div>