{% extends "base.html" %}

{% load repositories staticfiles i18n %}
{% load markup %}

{% block title %}
    {{ repo.working_dir|repo_name }} : {{ commit|hex_sha_short }}
{% endblock %}

{% block page_title %}
    {% trans "Commit" %} : {{ commit|hex_sha_short }}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/pygments.css' %}" type="text/css" />
{% endblock extra_css %}

{% block content %}
    <script src="{% static 'js/vendor/holder.js' %}"></script>

    <div class="row-fuild">
        <div class="col-sm-12">
            {% include 'git_a/commit_header.html' with commit=commit repo_name=repo.working_dir|repo_name %}
        </div>
        <div class="col-sm-12">
            <h4>{% trans "Files" %}:</h4>
            <h5>({% trans "A: parent --> B: selection" %})</h5>
            <div class="panel-group" id="accordion">
                {% for file_data in diff_data %}
                  <div class="panel panel-danger">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">
                          {{ file_data.0 }}
                        </a>
                      </h4>
                    </div>
                    <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
                      <div class="panel-body">
                        {{ file_data.1|safe }}
                      </div>
                    </div>
                  </div>                
                {% endfor %}
            </div>            
        </div>
    </div>
{% endblock %}