{% load repositories staticfiles i18n %}

<script src="{% static 'js/vendor/holder.js' %}"></script>

<div class="well well-lg">
    <div class="row-fluid">
        <div class="col-sm-1">
            <img data-src="holder.js/72x72" alt="django-avatar profile image">
        </div>
        <div class="col-sm-7">
            <strong>{{ commit.message }}</strong>
            <p>{{ commit.committed_date|seconds_to_date|timesince }}</p>
        </div>
        <div class="col-sm-4">
            <table class="commit-metadata">
                <tbody>
                    <tr>
                        <td>{% trans "commit" %}: </td>
                        <td>
                            <a href="{% url 'git_admin_commit_details' repo_name=repo.working_dir|repo_name commit_hash=commit.hexsha %}">{{ commit.hexsha|hex_sha_short }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>{% trans "tree" %}: </td>
                        <td>
                            <a href="{{ commit.tree.hexsha }}">{{ commit.tree.hexsha|hex_sha_short }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>{% trans "parent" %}: </td>
                        <td>
                            <a href="{% url 'git_admin_commit_details' repo_name=repo.working_dir|repo_name commit_hash=commit.parents.0.hexsha %}"> {{ commit.parents.0.hexsha|hex_sha_short }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>{% trans "author" %}: </td>
                        <td>
                            <a href="mailto:{{ commit.author.email }}">{{ commit.author.name }}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>