{% extends "base.html" %}

{% load repositories staticfiles i18n %}

{% block title %}
    {{ repo.name }} : {{ selected_object.name }}
{% endblock %}

{% block page_title %}
    {% trans "Repository" %} {{ repo.name }}
{% endblock %}

 {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/pygments.css' %}" type="text/css" />
 {% endblock extra_css %}

{% block content %}
    <section class="repo_nav">
        <h3>{% trans "File" %}: <a href="#">{{ selected_object.name }}</a></h3>        
    </section>

    <div class="row-fuild">
        <div class="col-sm-12">
            {{ object_data|safe }}
        </div>
    </div>
{% endblock %}