{% extends "base.html" %}

{% load repositories staticfiles i18n markup %}

{% block title %}
    {{ repo.working_dir|repo_name }}
{% endblock %}

{% block page_title %}
    {% trans "Repository" %}: {{ repo.working_dir|repo_name }} <sup class="{% if repo.is_dirty %}text-danger {% else %}text-success{% endif %}"><i class="glyphicon glyphicon-ok-sign"></i></sup>
{% endblock %}

 {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/pygments.css' %}" type="text/css" />
 {% endblock extra_css %}

{% block content %}
    {% if repo.is_dirty %}
    <div class="alert alert-info fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4>{% trans "Uncommited Changes" %}:</h4>
        <div class="panel-group" id="accordion">
            {% for file_data in diff_data %}
              <div class="panel panel-danger">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">
                      {{ file_data.0 }}
                    </a>
                  </h4>
                </div>
                <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
                  <div class="panel-body">
                    {{ file_data.1|safe }}
                  </div>
                </div>
              </div>                
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <section>
        <table class="table table-condensed">
            <tr>
                <th>{% trans "Clone URL" %}:</th>
                <td></td>
            </tr>
            <tr>
                <th>{% trans "Clone command" %}:</th>
                <td></td>
            </tr>
        </table>
    </section>

    <section class="repo_nav">
        <ul class="nav nav-pills" role="tablist">
            <li class="active">
                <a href="#tree_index" role="tab" data-toggle="tab">
                    <i class="glyphicon glyphicon-list"></i> {% trans "File Tree" %}
                </a>
            </li>        
            <li>
                <a href="#commits_log" role="tab" data-toggle="tab">
                    <i class="glyphicon glyphicon-random"></i> {% trans "Commits" %}</span>
                </a>
                {# TODO: Show commits by branch #}
                {# <ul class="dropdown-menu" role="menu"> #}
                    {# {% for head in repo.heads %} #}
                        {# <li><a href="#commits_log" role="tab" data-toggle="tab">{{ head.name }}</a></li> #}
                    {# {% endfor %} #}
                {# </ul> #}
            </li>

        </ul>
    </section>

    <section class="tab-content">
        <div class="tab-pane active" id="tree_index">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 60px">{% trans "Bytes" %}</th>
                        <th>{% trans "Name" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tree in tree_index %}
                        <tr>
                            <td>{{ tree.size }}</td>
                            <td style="color: #808080">
                                {% if tree.type == 'blob' %}
                                    <span class="glyphicon glyphicon-file"></span>
                                    <a href="{% url 'object_details' repo_name=repo.working_dir|repo_name object_hash=tree.hexsha %}">{{ tree.name }}</a>
                                {% else %}
                                    <span class="glyphicon glyphicon-folder-close"></span>
                                    <a href="{% url 'repository_navigate' repo_name=repo.working_dir|repo_name tree_hash=tree.hexsha %}">{{ tree.name }}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="commits_log">
            {% for commit_log in commits %}
            {% include 'git_a/commit_header.html' with commit=commit_log repo_name=repo.working_dir|repo_name %}
            {% endfor %}
        </div>
    </section>
{% endblock %}