{% extends "base.html" %}

{% load repositories staticfiles i18n markup %}

{% block title %}
    {{ repo.name }}
{% endblock %}

{% block page_title %}
    {% trans "Repository" %}: {{ repo.name }} <sup class="{% if repo.git_repo.is_dirty %}text-danger {% else %}text-success{% endif %}"><i class="glyphicon glyphicon-ok-sign"></i></sup>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/pygments.css' %}" type="text/css" />
{% endblock extra_css %}

{% block content %}
    <div class="alert alert-info fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}</span>
        </button>
    {% if repo.git_repo.is_dirty %}
        <h4>{% trans "Uncommited Changes" %}:</h4>
        <div class="panel-group" id="accordion">
            {% for file_data in diff_data %}
              <div class="panel panel-danger">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">
                      {{ file_data.0 }}
                    </a>
                  </h4>
                </div>
                <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
                  <div class="panel-body">
                    {{ file_data.1|safe }}
                  </div>
                </div>
              </div>                
            {% endfor %}
        </div>
    {% else %}
        <h4>{% trans "Last commit" %}:</h4>
        {% include 'git_a/commit_header.html' with commit=repo.git_repo.head.commit repo_name=repo.name %}
    {% endif %}
    </div>

    <section>
        <table class="table table-condensed">
            <tr>
                <th>{% trans "Clone URL" %}:</th>
                <td></td>
            </tr>
            <tr>
                <th>{% trans "Clone command" %}:</th>
                <td></td>
            </tr>
        </table>
    </section>

    <section class="repo_nav">
        <ul class="nav nav-pills" role="tablist">
            <li class="active">
                <a href="#tree_index" role="tab" data-toggle="tab">
                    <i class="glyphicon glyphicon-list"></i> {% trans "File Tree" %}
                </a>
            </li>        
            <li>
                <a href="#commits_log" role="tab" data-toggle="tab">
                    <i class="glyphicon glyphicon-random"></i> {% trans "Commits" %}</span>
                </a>
                {# TODO: Show commits by branch #}
                {# <ul class="dropdown-menu" role="menu"> #}
                    {# {% for head in repo.git_repo.heads %} #}
                        {# <li><a href="#commits_log" role="tab" data-toggle="tab">{{ head.name }}</a></li> #}
                    {# {% endfor %} #}
                {# </ul> #}
            </li>

        </ul>
    </section>

    <section class="tab-content">
        <div class="tab-pane active" id="tree_index">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 80px">{% trans "Size" %}</th>
                        <th>{% trans "Name" %}</th>
                        <th style="width: 60px"></th>
                    </tr>
                </thead>
                {% include "git_a/files_tree.html" %}
            </table>
        </div>
        <div class="tab-pane" id="commits_log">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>{% trans "Summary" %}</th>
                        <th>{% trans "Author" %}</th>
                        <th>{% trans "Date" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for commit_log in commits %}
                    <tr class="commit_details" data-target="{% url 'commit_details' repo_name=repo.name commit_hash=commit_log.hexsha %}">
                        <td></td>
                        <td>{{ commit_log.summary }}</td>
                        <td>{{ commit_log.author.name }}</td>
                        <td>{{ commit_log.committed_date|seconds_to_date|timesince }}</td>
                    </tr>
                    {% endfor %}                
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}

{% block extra_js %}
    <script>
        function navigate(sender){
            $.get($(sender).data('target'), function(response){
                $('#files_tree').replaceWith(response);
            });
        }

        $(document).ready(function(){
            $('.commit_details').click(function(){
                window.location = $(this).data('target');
            });
        });
    </script>
{% endblock extra_js %}